{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% if user.is_authenticated and user.is_superuser %}
        <div class=" container">
            <a class="upload-link float-end mt-5" href="{% url 'create_news_update' %}">+ Upload</a>
        </div>
    {% endif %}

    <div class="container">
        <h1 class="text-center news-header">News Updates</h1>
        <hr>
        <div class="row gx-3 gy-4">
            <!-- Create a card for each news update in the database. -->
            {% for update in news_updates %}
                <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        {% if user.is_superuser and update.status == 'draft' %}
                            <span class="badge bg-warning text-dark position-absolute" style="top: 10px; left: 10px;">Draft</span>
                        {% endif %}
                        {% if user.is_authenticated and user.is_superuser %}
                            <a href="{% url 'edit_news_update' update.pk %}" class="btn btn-sm position-absolute edit-update-btn" style="top: 10px; right: 10px; z-index: 10;">
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                        {% endif %}
                        {% if update.image %}
                            <a href="{% url 'news_update_details' update.pk %}">
                                <img src="{{ update.image.url }}" class="card-img-top" alt="{{ update.title }}">
                            </a>
                        {% else %}
                            <a href="{% url 'news_update_details' update.pk %}">
                                <img src="{% static 'images/maddocks-owlery.jpg' %}" class="card-img-top" alt="{{ update.title }}">
                            </a>
                        {% endif %}
                        <div class="card-body">
                            <p class="card-text text-center">{{ update.date_created }} Project Update.</p>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="container">
                    <h3 class="text-center mt-4">Nothing Found!</h3>
                    <p class="text-center mt-4">We're sorry but there doesn't seem to be any news updates at the moment. Sign up to our newsletter to be the first to find out when news updates come out.</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}