html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #EBEBEB;
    color: #474747;
    font-family: "concert One", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    flex: 1;
}

/* Fonts (Google Fonts) */
.concert-one {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.playpen-sans {
    font-family: "Playpen Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

/* Navbar styles */
.navbar {
    background-color: #6B705C;
    position: relative;
    height: 95px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.20);
}

.navbar-brand {
    font-size: 2rem;
    color: #EBEBEB;
    font-weight: 900;
    transition: 0.3s;
}

.navbar-brand:hover {
    color: #474747;
}

.navbar-nav {
    gap: 10px;
}

.nav-link {
    color: #EBEBEB;
    font-weight: 600;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: #474747;
    text-decoration: underline 2.5px #F1E9D0;
}

.navbar-toggler {
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    box-shadow: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:focus-visible {
    outline: none;
    border: none;
    box-shadow: none;
}

.navbar-btn {
    font-size: 2rem;
    color: #EBEBEB;
    transition: 0.3s;
}

/* Offcanvas Navbar */
.offcanvas {
    background-color: #6B705C;
    color: #EBEBEB;
}

.offcanvas-header {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
}

.offcanvas-title,
.offcanvas button i {
    font-size: 2rem;
}

/* Footer styles */
footer {
    background-color: #6B7054;
    height: 95px;
}

.footer-link {
    text-decoration: none;
    color: #EBEBEB;
    font-size: 1.3rem;
}

/* Home Page */
.landing-image {
    max-height: 900px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.20);
}

.main-content i {
    color: #6B7054;
    font-size: 1.2rem;
}

.our-story,
.wildlife-tower,
.conversation,
.wildlife,
.community-vision,
.journey {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.20);
    padding: 30px;
    border-radius: 20px;
}

.subheading {
    color: #6B7054;
}

.carousel {
    border: #6B705C 8px solid;
    border-radius: 25px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.20);
    max-height: 600px;
    max-width: 600px;
    margin: 0 auto;
}

.carousel-item {
    max-height: 600px;
    max-width: 600px;
    z-index: -1;
}

.carousel-item img {
    object-fit: contain;
    object-position: center;
}

.video-container video {
    width: 100%;
    height: auto;
    max-width: 100%;
    border: #6B705C 5px solid;
    border-radius: 25px;
}

#unmuteButton,
#playPauseBtn {
    color: #474747;
    margin-top: 10px;
}

/* News Page */
.news-header {
    margin-top: 50px;
    font-size: 3rem;
}

.card {
    background-color: #EBEBEB;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.20);
    border-radius: 20px;
}

.card-img-top {
    padding: 15px;
    border-radius: 25px;
    border: #6B705C 2px soild;
}
